.card-car{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 278.656px;
    min-height: 567px;
    border-style: dashed;
    h3{
        color: #fff;
        font-weight: 200;
    }
    h4{
        color: #fff;
        font-weight: 200;
    }
    p{
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 1px;
        text-align: center;
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
        border-bottom: 2px solid gray
    }
    i {
        font-size: 2rem;
        line-height: 0;
    }
    .container-button{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .button-container{
        width: 70px;
        height: 70px;
        justify-content: center
    }
}