<div class="section-wrapper mg-t-20 animated fadeInDown">
    <aw-wizard>
        <aw-wizard-step stepTitle="Choose company">
            <div class="container">
                <div class="section-wrapper mg-t-20">
                    <div class="d-flex">

                        <div *ngFor="let company of companies$ | async"
                            class="card tx-center hvr-sweep-to-top pd-10 bd bd-5 mg-r-20" selected
                            (click)="companyHasIdSelected(company.companyId)">
                            <div class="card-body pd-10">
                                <div class="d-flex justify-content-center mg-b-30">
                                    <img src="/assets/images/logo-company.png"
                                        class="wd-100 img-fluid hvr-grow" alt="">
                                </div>
                                <h6 class="tx-md-20 tx-white mg-b-20 hvr-grow">{{company?.name}}</h6>
                            </div><!-- card -->
                        </div>
                    </div>

                </div>

                <button type="button" class="btn btn-oblong btn-primary mg-t-20 mg-r-20" awNextStep>Next Step</button>
            </div>
        </aw-wizard-step>
        <aw-wizard-step stepTitle="Chasis Number">
            <div class="container">
                <div class="section-wrapper mg-t-20">
                    <div [formGroup]="vehicleForm" class="d-flex align-items-center">
                        <div class="tx-lg-50 tx-md-50  tx-lg-40 tx-sx-60 tx-primary  hvr-grow mg-r-20"><i
                                class="icon ion-ios-car"></i></div>
                        <input formControlName="chasisNumber" class="form-control tx-50p ht-70p"
                            placeholder="Chasis number" type="text">
                    </div>

                </div>

                <button type="button" class="btn btn-oblong btn-primary mg-t-20 mg-r-20" awPreviousStep>Go to previous
                    step</button>
                <button type="button" class="btn btn-oblong btn-success mg-t-20" [swal]="deleteSwal">Finish</button>
            </div>
            <swal #deleteSwal title="Create vehicle?" text="This cannot be undone" type="question"
                [showCancelButton]="true" [focusCancel]="true" (confirm)="createVehicle()">
            </swal>
            <swal #successCreateVehicle title="OK!" text="vehicle created!!!" type="success" [showCancelButton]="true"
                [focusCancel]="true" (confirm)="createVehicle()">
            </swal>
            <swal #successCreateVehicle title="ERROR!" text="vehicle NOT created!!!" type="error"
                [showCancelButton]="true" [focusCancel]="true" (confirm)="createVehicle()">
            </swal>
        </aw-wizard-step>
    </aw-wizard>


</div>