$ionicons-font-path: "../../../node_modules/ionicons/dist/fonts" !default;
$ionicons-font-family: "Ionicons" !default;
$ionicons-version: "4.6.2" !default;

@import '../../../../../node_modules/ionicons/dist/scss/ionicons.scss'