<div class="card card-sensor pd-15 hvr-sweep-to-top mg-r-10 mg-t-10" (click)="_toggleSidebar()">
    <p class="mg-b-10">Nº Serie</p>
    <i align="center" class="icon ion-md-locate tx-pink mg-r-5"></i>
    <h3 align="center">11111</h3>
    <p class="mg-b-10">Vehiculo</p>
    <i class="icon ion-ios-car align-self-center tx-white"></i>
    <h3>123123123123</h3>
    <p class="mg-b-10">Status</p>
    <h3 align="center">ON</h3> 
</div>
<ng-sidebar [(opened)]="_opened" [position]="'right'">
    <div class="d-flex">
            <a (click)="_toggleSidebar()" ><i class="icon ion-ios-close close tx-white"></i></a>
    </div>
    <div class="d-flex sensor-detail align-items-center">
        <h1>Nº Serie : 11111</h1>   
    </div>
    <div class="d-flex">
        <img [src]="sensorImage">
    </div>
    <div class="d-flex flex-column">
        <h1>Sensor</h1>
        <ngb-tabset>
                <ngb-tab title="Sensor">
                  <ng-template ngbTabContent>
                        <div style="width: 100%;">
                                <canvas
                                    baseChart
                                    [chartType]="'line'"
                                    [datasets]="chartData"
                                    [labels]="chartLabels"
                                    [options]="chartOptions"
                                    [legend]="true"
                                    (chartClick)="onChartClick($event)">
                                </canvas>
                              </div>
                  </ng-template>
                </ngb-tab>
        </ngb-tabset>
    </div>
    <div class="d-flex flex-column flex-wrap">
        <h1>Description</h1>
    <p>Esto es la decripción</p>
    </div>
</ng-sidebar>