
 <div class="slim-header">
    <div class="container">
      <div class="slim-header-left">
        <h2 class="slim-logo"><a href="index.html">Low-Carbon<span>.</span></a></h2>
      </div>
      <div class="slim-header-right">
        <div class="dropdown dropdown-c">
          <a href="#" class="logged-user" data-toggle="dropdown" (click)="logout()">
            <img src="assets/images/avatar-admin.png" alt=""/>
            <span class="tx-white tx-15">{{(user$ | async)?.email}}</span>

          </a>
        </div>
      </div>
    </div>
  </div>
