<div class="flex-row">
    <div class="d-flex justify-content-end">
        <app-date-range  [from]="defaultFrom" [to]="defaultTo" (dateRangeSelection)="onDateRangeSelection($event)">
        </app-date-range>
    </div>
</div>
<div class="row mg-t-20">
    <div class="col-lg-6 col-12">
        <div class="card">
            <div class="card-body ht-250">
                <h4 class="slim-card-title tx-center mg-b-20">Number of vehicles</h4>
                <h1 class="tx-106 tx-white tx-center">{{ carCount$ | async }}</h1>
            </div><!-- card-body -->
        </div>
    </div>
    <div class="col-lg-6 col-12">
        <div class="card">
            <div class="card-body d-flex flex-column align-items-center justify-content-center ht-250">
                <h2 class="slim-card-title tx-center">Total Emission CO2</h2>
                <ngx-gauge class="tx-white" [max]="50000000" [thick]="20" [size]="200" [type]="gaugeType"
                    [value]="(measuresSum$ | async)?.value" [label]="gaugeLabel" [append]="gaugeAppendText">
                </ngx-gauge>
            </div><!-- card-body -->
        </div>
    </div>
</div>
<div class="row">
        <div class="col-lg-12 col-12">
                <div class="card mg-t-20">
                    <div class="card-body">
                            <h4 class="slim-card-title tx-center">Mean Emission CO2 By Vehicle</h4>
                                    <canvas baseChart [chartType]="'bar'" [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions"
                                        [legend]="true" (chartClick)="onChartClick($event)"  height="100">
                                    </canvas>
                    </div><!-- card-body -->
                </div>
        </div>
</div>